syllable @ git+https://github.com/ftkurt/python-syllable.git@e0a4d99e55a2e27c87b2a5cec9532dcb14e3817d
TurkishStemmer==1.3
uk-stemmer @ git+https://github.com/Desklop/Uk_Stemmer@a700ae1bd9b69ad84d311d089e8bc95ab7fab44d
